.wrapper {
    height: 100vh;
    margin: auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3em;
}

.header {
    grid-column: 1 / 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.nav__list-items {
    list-style-type: none;
    display: inline-block;
    font-size: 1.7rem;
    margin: 0 1em;
}

.nav__menu-open {
    display: none;
    cursor: pointer;
}

.nav__menu-close,
.nav__hidden-menu {
    display: none;
}

.nav__hidden-menu {
    width: 20em;
    background: black;
    position: absolute;
    right: 15px;
    display: none;
}

.nav__list-items-text {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    cursor: pointer;
}

.nav__list-items-text:active {
    color: hsl(240, 100%, 5%);
}

.main {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__img-wrapper {
    grid-column: 1 / 3;
}

.main__img {
    width: 100%;
}

.main__title {
    grid-column: 1 / 2;
    text-align: center;
    padding: 1em;
}

.main__article {
    grid-column: 2 / 3;
    text-align: justify;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.main__btn {
    width: 12em;
    padding: 0.7em;
    color: white;
    background: hsl(5, 85%, 63%);
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: auto;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.main__btn:hover {
    background: hsl(5, 74%, 53%);
}

.main__h1 {
    font-size: 4rem;
}

.main__text {
    font-size: 1.7rem;
    color: hsl(236, 13%, 42%);
}

.aside {
    grid-column: 6 / 7;
    background: hsl(240, 100%, 5%);
    width: 37em;
    color: white;
    padding: 2em;
}

.aside__h2 {
    color: hsl(35, 77%, 62%);
    font-size: 3rem;
}

.aside__articles {
    border-bottom: 1px solid gray;
    padding: 1.5em;
    margin: 1.5em;
}

.aside__articles:last-child {
    border-bottom: none;
}

.aside__title {
    font-size: 2rem;
    padding: 0.8em 0;
}

.aside__text {
    font-size: 1.5rem;
    color: hsl(236, 13%, 42%);
}

.footer {
    grid-column: 1 / 7;
    display: flex;
    margin-top: 4em;
    justify-content: space-around;
}

.footer__articles {
    margin: 0 2em;
    display: grid;
    grid-template-columns: 15em 15em;
}

.footer__article-number {
    font-size: 2.5rem;
    color: hsl(236, 13%, 42%);
}

.footer__article-title {
    font-size: 1.8rem;
}

.footer__article-text {
    font-size: 1.4rem;
    color: hsl(236, 13%, 42%);
}

.footer__img {
    width: 10em;
}

@media (max-width: 1400px) {
    :root {
        font-size: 60%;
    }
}

@media (max-width: 1100px) {
    :root {
        font-size: 50%;
    }

    .main__btn {
        margin-bottom: 10em;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 10px;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .nav__list {
        display: none;
    }

    .nav__menu-open {
        display: block;
    }

    .nav__menu-close {
        display: block;
        width: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .list-wrapper {
        display: none;
    }

    .hidden-menu {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 300px;
        height: 300px;
        background: rgba(243, 242, 242, 0.8);
        border: 2px solid black;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: auto;
    }

    .display {
        display: block;
    }

    .hidden {
        display: none;
    }

    .lastOneActivated {
        color: hsl(240, 100%, 5%);
    }

    .nav__list-items {
        margin: 15px 20px;
        font-size: 2rem;
        width: 100px;
    }

    .header {
        grid-column: 1 / 2;
        justify-content: space-between;
    }

    .main {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
    }

    .main__article {
        height: 200px;
    }

    .main__article,
    .main__title,
    .aside__articles {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .main__text {
        padding-bottom: 1em;
    }

    .main__h1 {
        text-align: left;
    }

    .aside {
        grid-column: 1 / 2;
        width: 100%;
    }

    .footer {
        grid-column: 1 / 2;
        display: block;
    }

    .footer__articles {
        margin: 3em 0;
        grid-template-columns: 10em 1fr;
        grid-gap: 2em;
    }
}